---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Fastlife - Inicio">
	<div class="hero">
		<img class="banner" src="../../public/banner.jpg" alt="banner">
		<div class="bienvenidos">
			<h1>Bienvenidos a FastLife</h1>
			<p>Tenemos pasión por la buena ropa y traemos todo de calidad a precios accesibles. Nos dedicamos a esto hace más de 2 años y tenemos historial en el rubro.</p>
			<a href="#">Ver catalogo</a>
		</div>
		<div class="logo-banner">
			<img class="logito" src="../../public/logo3.png" alt="">
		</div>
	</div>

	<main>
		<section class="seccion">
			<h4 class="titulo">Productos <i class="fa-solid fa-shop"></i></h4>
			<div class="container-productos">
				<Card href="https://www.adidas.com.ar/campera-argentina-tiro-23-all-weather/HF3922.html" title="Campera AFA" body="https://assets.adidas.com/images/w_600,f_auto,q_auto/72bb018635354b93a5e3af33011dfa70_9366/Campera_Argentina_Tiro_23_All-Weather_Azul_HF3922_01_laydown.jpg"/>

				<Card href="https://www.adidas.com.ar/campera-argentina-tiro-23-all-weather/HF3922.html" title="Campera Adidas" body="https://woker.vtexassets.com/arquivos/ids/288674/6HC2076-000-1.jpg?v=637934134671070000"/>

				<Card href="https://www.adidas.com.ar/campera-argentina-tiro-23-all-weather/HF3922.html" title="Rompeviento Adidas" body="https://sporting.vtexassets.com/arquivos/ids/548888/6HG5860-000-1.jpg?v=637916735594500000"/>

				<Card href="https://www.adidas.com.ar/campera-argentina-tiro-23-all-weather/HF3922.html" title="Campera Nike" body="https://www.tripstore.com.ar/media/catalog/product/cache/4769e4d9f3516e60f2b4303f8e5014a8/B/V/BV4446-010_0.jpg"/>

				<Card href="https://www.adidas.com.ar/campera-argentina-tiro-23-all-weather/HF3922.html" title="Nike Swoosh" body="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9LCH_U0EiHl10rEUiLf-JzFCSHLjg7HCLrMRsFEtp--MsMgB0BGY4_ZqOJUcR1gmeeU4&usqp=CAU"/>


			</div>
		</section>

		<section class="seccion">
			<h4 class="titulo">Sobre nosotros <i class="fa-regular fa-face-grin-stars"></i></h4>
		</section>

		<section class="seccion">
			<h4 class="titulo">Contacto <i class="fa-solid fa-phone-flip"></i></h4>
		</section>
		
	</main>
</Layout>

<style>
	main {
		width: 80%;
		margin: auto;
		padding: 1.5rem;
	}
	.banner{
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(30%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.hero{
		min-height: 400px;
		height: 80vh;
		max-height: 700px;
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		align-items: center
	}
	.logito{
		height: 330px;
		/* position: absolute; */
	}
	.bienvenidos{
		color: #fff;
		width: 90%;
		text-align: center;
	}
	.bienvenidos h1{
		font-size: 2.5em;
		margin-bottom: 10px;
	}
	.bienvenidos p{
		font-size: .9em;
		margin-bottom: 20px;
		color: #c5c5c5;
	}
	.bienvenidos a{
		text-decoration: none;
		background-color: #ff7300;
		color: #fff700;
		padding: 5px 10px;
		border-radius: 10px;
		font-size: 1.5em;
		transition: 300ms;
	}
	.bienvenidos a:hover{
		color: #ffbb00;
		background: #984f00;
		transition: 300ms;
	}
	.titulo{
		text-align: center;
		font-size: 2em;
		padding: 15px;
	}
	.container-productos{
		background-color: #dfdfdf;
		padding: 20px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 15px;
		width: 60%;
		margin: auto;
	}
</style>
