---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

	<a class="producto" href={href}>
		<h5 class="titulo-producto">{title}</h5>
		<div class="container-img">
			<img class="imagen-producto" src={body} alt="producto">
		</div>
	</a>
<style>
	.producto{
		text-decoration: none;
		color: #343434;
		display: inline-block;
		background-color: #bfbfbf;
		padding: 10px;
		border-radius: 20px;
	}
	.imagen-producto{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
	.titulo-producto{
		text-align: center;
		font-size: 1.15em;
		margin-bottom: 10px;
	}
	.container-img{
		width: 170px;
		margin: auto;
	}
</style>
