---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo4.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Redressed&family=Sanchez:ital@0;1&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../../public/css/all.min.css">


	</head>
	<body>
		<header class="header">
			<div class="logo">
				<img src="../../public/logo.png" alt="">
			</div>
			<nav>
				<ul class="items">
					<li><a class="item" href="#">Inicio</a></li>
					<li><a class="item" href="#">Productos</a></li>
					<li><a class="item" href="#">Sobre nosotros</a></li>
					<li><a class="item" href="#">Contacto</a></li>
				</ul>
			</nav>
		</header>
		<slot />
		<footer class="footer">
			<section class="section-pri">
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Sobre nosotros</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</section>
			<section class="section-sec">
				<div class="social-item">
					<a href="#"><i class="fa-brands fa-instagram"></i></a>
				</div>
				<div class="social-item">
					<a href="#"><i class="fa-brands fa-facebook"></i></a>
				</div>
				<div class="social-item">
					<a href="#"><i class="fa-regular fa-envelope"></i></a>
				</div>
			</section>
			<section class="section-ter">
				<span>Necesitas una página?</span> <br>
				<a href="https://kntdev-porfolio.netlify.app/">Contactame <i class="fa-regular fa-face-smile-wink"></i></a>
			</section>
		</footer>
	</body>
</html>
<style is:global>
	/*
		font-family: 'Kumar One Outline', cursive;
		font-family: 'Sanchez', serif;
		font-family: 'Redressed', cursive;
	*/

	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
		padding-inline: 50px;
		background: rgb(255,235,0);
		background: linear-gradient(90deg, rgba(255,235,0,1) 0%, rgba(255,166,0,1) 100%);
		border-bottom: #ff840039 3px solid;
	}
	.logo{
		height: 100px;
	}
	.logo img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.items{
		display: flex;
		list-style: none;
		gap: 6px;
		font-family: 'Sanchez', serif;
		font-weight: bold;
	}
	.item{
		font-size: 1.1em;
		text-decoration: none;
		color: #fff700;
		background: #ff7300;
		border-radius: 8px;
		padding: 5px 8px;
		transition: 200ms;
	}
	.items a:hover{
		color: #ffbb00;
		background: #984f00;
		transition: 200ms;
	}
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	.footer{
		background-color: #2f2f2f;
		height: 200px;
		margin-top: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		justify-items: center
	}
	.section-pri{
		color: #ff7300;
	}
	.section-pri a{
		text-decoration: none;
		color: #fff700;
		transition: 300ms color;
	}
	.section-pri a:hover{
		color: #ff7300;
		transition: 300ms color;
	}
	.section-sec{
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		font-size: 2em;
	}
	.social-item a{
		text-decoration: none;
		color: #fff700;
		background-color: #ff7300;
		padding: 6px 12px;
		border-radius: 50%;
		transition: 200ms;
	}
	.social-item a:hover{
		color: #ffbb00;
		background: #984f00;
		transition: 200ms;
	}
	.section-ter{
		color: #ff7300;
		text-align: center;
	}
	.section-ter a{
		text-decoration: none;
		color: #fff700;
		transition: 300ms font-size;
	}
	.section-ter a:hover{
		font-size: 1.2em;
		transition: 300ms font-size;
	}




	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
